*{
    font-family: "Montserrat", sans-serif;
    padding: 0%;
    margin: 0%;
    
}
body{
    display: block;
    overflow-x: hidden;
}

.footer{
display: flex;
justify-content: center;
align-items: center;
margin-top: 93px;
}
.footer ul{
    display: flex;
    list-style: none;
    gap: 17px;
    cursor: pointer;
}
.container{
    display: flex;
overflow-x: hidden;
top: 0;

justify-content: space-between;
align-items: center;
width: 100%;
z-index: 33;
margin-top: 12px;
padding-right: 14px;
}

.nav ul{
    display: flex;
 list-style: none;
    padding: 2px;
    gap: 20px;
   

}
nav ul li{
    padding: 4px;
    border-radius: 3px;
}
.logo{
    
   display: flex;
  padding-left: 36px;
   width: 120px;
   height: 24px;
   cursor: pointer;
   
}

.icons{
  display: flex;
    align-items:center;
    font-size: 23px;
    gap: 10px;
    cursor: pointer;
   font-weight: 100;
  
}
.icons i{
    padding: 3px;
    border-radius: 4px;
}
.nav ul li:hover,.icons i:hover{
    background-color:hsla(0, 39%, 24%, 0.205);
    cursor: pointer;
} 

/* CHANGING VALUES */
.text{
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
}
.text-1{
    margin-top: 75px;
}
.text-2{
    margin-top: 121px;
}
.text-6{
    margin-top: 115px;
}
.text-7{
    margin-top: 105px;
}
.text-8{
    margin-top: 110px;
}
.image{
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-repeat: no-repeat;
    width: 100%;
    background-color: black;
}
.image-1{
    background-image: url("./images/homepage-image1.avif");
}
.image-2{
    background-image: url("./images/Homepage-image2.avif");
}
.image-3{
    background-image: url("./images/Homepage-image3.avif");
background-size: 115%;
   background-position-x: -120px;
}
.image-4{
    background-image: url("./images/Homepage-image4.avif");
}
.image-5{
    background-image: url("./images/Homepage-image5.avif");
}
.image-6{
    background-image: url("./images/Homepage-image6.avif");
}
.image-7{
    background-image: url("./images/Homepage-image7.avif");
}
.image-8{
    background-image: url("./images/Homepage-image8.avif") ;
}
.image-9{
    background-image: url("./images/Homepage-image9.avif")    ;
 
}


.space-1{
    height: 230px ;
 }
 .space-2{
    height: 245px ;
 }
 .space-3{
    height: 227px ;
 }
 .space-4{
    height: 338px;
 }
 .space-6{
    height: 280px;
 }
 .space-8{
    height: 300px;
 }
 .space-9{
    height:  275px;
 }


 .p{
    margin-right: 20px;
}


/* TEXT DESIGNS */
.p-H1-tag{
    font-size: 40px;
    font-weight: 600;
    color: 
    rgb(23, 26, 32);
    line-height: 48px;
}
.p-H2-tag{
    font-size: 20px;
    font-weight: 500;
    color: 
    rgb(23, 26, 32);
    line-height: 20px;
}
.p-H3-tag{
    font-size: 12px;
    font-weight: 400;
    color: 
    rgb(23, 26, 32);
    line-height: 20px;

}

.p-special-tag{
  
    font-size: 15px;
    line-height: 20px;
    font-weight: 400;
}
.text-B{
    display: flex;
    justify-content: center ;
    align-items: center;
    width: 264px;
    height: 39px;
    cursor: pointer;
    border-radius: 4px;
}
.text-B-a{

    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(8px);

}
.text-B-b{
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    background-color: rgba(34, 34, 34, 0.65);
    backdrop-filter: blur(8px);
    color: rgb(238, 238, 238);

}
.text-details-black{
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color:
    rgb(23, 26, 32);
    display: flex;
 justify-content: center;
 align-items: center;
 margin-top: 34px;
 text-align: center;
}
.text-details-white{
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color:
    rgb(255, 255, 255);
    display: flex;
 justify-content: center;
 margin-top: 34px;
 text-align: center;
}


/* END */
.co-white{
    color: white;
}
.co-black{
    color: black;
}


 .button-section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 20px;

 }
 .button-flex{
    display: flex;
    justify-content: center;

 }
  .button-last-section{
    display: grid;
    grid-template-columns: 1fr ;
    align-items: center;
    gap: 20px;

  }